@model SubjectModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1 class="label" id="resultMessage"></h1>
<div class="content">
    <div class="row">
        <div class="col-8">



            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Müəllif</th>
                        <th scope="col">Mənbə</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in Model.SubjectDtos)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.Author</td>
                            <td>
                                <a class="link-dark" target="_blank" href="@Url.Action("GetSubject", "ELibrary", new { path = item.Path })">
                                    @item.SubjectName
                                </a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @if (@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value == "teacher")
            {
                <div class="col-2">
                    <div class="col-4 mt-5">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                            Mənbə əlavə et
                        </button>

                    </div>
                </div>
            }
        }
        </div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                <button type="button" class="btn btn-primary">Yadda saxla</button>
            </div>
        </div>
    </div>
</div>-->

<script>

    function Success() {
        var element = document.getElementById("resultMessage");
        element.innerHTML = "Fayl müvəffəqiyyətlə yadda saxlanıldı";
    }
    function Error(result) {
        var element = document.getElementById("resultMessage");
        console.log(result);
        element.innerHTML = "Problem yarandı : " + result;
    }



</script>









<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-action="Save"
              asp-controller="ELibrary"
              enctype="multipart/form-data"
              data-ajax-success="success()"
              data-ajax-error="error(result)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mənbə əlavə et</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <input type="text" name="SubjectName" placeholder="Mövzunun adını daxil edin" asp-for="SubjectName" />
                    <input type="file" name="file" accept="application/pdf" asp-for="File">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                    <button type="submit" class="btn btn-primary">Yadda saxla</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
